@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* Reset 시작 */
* {
    color: #3c3c3c;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #333;
}

a:active {
    color: #333;
}

ul {
    list-style: none;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
}

/* Reset 시작 */

/* Guideline 시작 */
/*
div#wrap {
    border: 1px solid #000;
}

header#header {
    border: 1px solid #000;
}

main#main {
    border: 1px solid #000;
}

footer#footer {
    border: 1px solid #000;
}
*/

/* Guideline 시작 */

/* div#wrap 시작 */
div#wrap {
    width: 1500px;
    margin: 0 auto;
}

/* div#wrap 끝 */

/* header#header 시작 */
header#header {
    height: 120px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    background-color: #e3d0b4;
}

/* header#headerLogo 시작 */
div#headerLogo {
    font-size: 28px;
    width: 300px;
    margin-left: 100px;
    line-height: 120px;
    font-family: 'RocknRoll One', sans-serif;
}

div#headerLogo span.fontsize {
    font-size: 43px;
}

div#headerLogo span#fontsizeSmall {
    font-size: 16px;
}

/* header#headerLogo 끝 */

/* headerTop 시작 */
div#headerTop ul li {
    float: left;
}

div#headerTop ul li a {
    color: #58472f;
    font-size: 14px;
    width: 95px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*    border: 1px solid #000;*/
    display: block;

    position: relative;
    top: 15px;
    left: 560px;

}

div#headerTop span.move {
    padding-left: 10px;
}

div#headerTop ul li a img {
    margin-left: 3px;
}

/* headerTop 시작 */


/* nav#gnb 시작 */
nav#gnb {
    width: 650px;
}

nav#gnb > ul > li {
    float: left;
}

nav#gnb > ul > li > a {
    /*    border: 1px solid #000;*/
    color: #7b6545;
    font-size: 16px;
    font-weight: bold;
    width: 130px;
    height: 50px;
    text-align: center;
    line-height: 50px;

    display: inline-block;

    position: relative;
    top: 58px;
    left: -60px;
}

/* nav#gnb 끝 */
/* header#header 끝 */

/* main#main 시작 */
/* div#slideshow 시작 */
#main div#slideArea {
    width: 1500px;
    height: 500px;
    overflow: hidden;
}

#main div#slideshow {
    width: 3000px;
    height: 500px;

    position: relative;
    left: 0;

    transition: all 3s;
}

#main div#slideshow:hover {
    left: -1500px;
}

#main #slideshow > ul > li {

    position: absolute;
}

#main #slideshow > ul > li:nth-child(2) {
    left: 1500px;
}

#slideArea div#promotionTxt {
    width: 600px;
    height: 200px;
    font-weight: bold;
    line-height: 2em;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-118%, 50%);
}

#slideArea div#promotionTxt span {
    color: #fff;
    font-size: 45px;
}

#slideArea div#promotionTxt p {
    color: #fff;
}

/* div#slideshow 끝 */

/* div#mainContentsTitle 시작 */
div#mainContentsTitle h1 {
    color: #998465;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    padding: 40px;
}

/* div#mainContentsTitle 끝 */

/* div#mainContents 시작 */
div#mainContents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-around;
}

div#mainContents h3.contentsTitle {
    color: #998465;
    padding: 15px 0 5px;
    border-bottom: 2px solid #998465;
}

div#mainContents p.contents {
    width: 265px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    line-height: 1.5em;
}

div#mainContents span {
    color: #666;
    font-size: 13px;
    font-weight: bold;
}

div#mainContents a {
    color: #fff;
    width: 300px;
    height: 45px;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
    background-color: #998465;

    display: inline-block;
}

/* div#mainContents 끝 */

/* div#mainMembership 시작 */
#mainMembership {
    margin: 80px 0 130px;
    position: relative;
}

#mainMembership img {
    margin-top: 100px;
}

#mainMembership div#membershipTxt {
    width: 500px;
    height: 200px;
    line-height: 2em;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -20%);
}

#mainMembership h1,
#mainMembership h3,
#mainMembership p {
    color: #fff;
}

#mainMembership h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

#mainMembership h3 {
    font-size: 35px;
    text-align: center;
}

#mainMembership p {
    font-size: 25px;
    text-align: center;
    padding: 15px 0 30px;
}

#mainMembership a {
    color: #fff;
    width: 200px;
    height: 45px;
    margin-left: 35px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #fff;

    display: inline-block;
}

/* div#mainMembership 끝 */

/* div#gallery 시작 */
div#gallery {
    width: 1500px;
    /*    margin: 0 auto;*/
    padding: 0 100px 20px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;

    /*    background-color: #e7dccc;*/
}

#gallery div#galleryTitle {
    width: 700px;
    height: 300px;
    text-align: center;

}

#gallery div#galleryTitle h1 {
    font-size: 80px;
    padding-bottom: 30px;
    padding-bottom: 30px;
}

#gallery div#galleryTitle p {
    font-size: 20px;
    line-height: 1.5em;
}

#gallery img {
    padding-bottom: 30px;
}

/* div#gallery 끝 */

/* main#main 끝 */

/* footet#footer  시작 */
footer#footer {
/*    width: 1300px;*/
    margin: 0 auto;
    height: 500px;

}

/* div#footerwrap  시작 */
footer#footer div#footerWrap {
    height: 260px;
    margin-top: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    background-color: #e3d0b4;
}

/* div#leftWrap 시작 */
div#leftWrap {
    width: 500px;
    height: 160px;
    text-align: center;

    position: relative;
    top: 50px;
    left: 20px;
}

div#footerLogo {
    font-size: 28px;
    padding-bottom: 20px;
    font-family: 'RocknRoll One', sans-serif;
}

div#footerLogo span.fontsize2 {
    font-size: 43px;
}

div#footerLogo span#fontsizeSmall2 {
    font-size: 16px;
}

#leftWrap div#contact p {
    line-height: 1.5em;
}

/* div#leftWrap 끝 */


/* div#"footerLnbwrap 시작 */
div#footerLnbwrap {
    padding-left: 280px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    position: relative;
    top: 20%;
}

#footerLnbwrap div.menuCol {
    width: 150px;
}

#footerLnbwrap div.lnbHeading {
    color: #58472f;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}

#footerLnbwrap ul.footerMenu li {
    line-height: 2em;
}

/* div#footerLnbwrap 끝 */
/* div#footerwrap  끝 */

/* footerList  시작 */
div#footerList {
    height: 40px;
    border-bottom: 1px solid #aaa;
    margin-top: 30px;
}

div#footerList ul li {
    float: left;
}

div#footerList ul li a {
    color: #888;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
    text-align: center;

    display: inline-block;
}

div#footerList ul li:not(:last-child)::after {
    content: "|";
    width: 20px;
    display: inline-block;
}

/* footerList  끝 */

/* div#footerBottomWrap 시작*/
#footerBottomWrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/*div#footerLeft 시작 */
div#footerLeft {
    width: 910px;
}

#footerBottomWrap div#companyinfo {
    padding-top: 20px;
    display: inline-block;
}

#footerBottomWrap div#companyinfo ul li {
    color: #888;
    font-size: 14px;
    padding-right: 20px;
    float: left;
}

#footerBottomWrap div#copyright span {
    color: #888;
    font-size: 14px;
    font-weight: bold;
}

/*div#footerLeft 끝*/

/* div#snsIcon 시작 */
div#snsIcon{
    width: 170px;
    margin: 5px 0 0 150px;
}
div#snsIcon p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}
/* div#snsIcon 끝 */

/* div#footerBottomWrap 끝*/

/* footet#footer  끝 */
